@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-white dark:bg-[#0f0f0f] text-gray-900 dark:text-gray-100 font-sans;
}